 @mixin browser($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  #{$property}: #{$value};
}
/* Root */
.lab {
  min-width: 1440px;
  a, div {
    @include browser(box-sizing, border-box);
  }
  .mainLab {
    float: left;
    .leftStations, .rightStations {
      float: left;
    }
    .divider, .station {
      border: 1px solid rgb(200, 200, 200);
      width: 350px;
    }
    .divider {
      background: rgb(230, 230, 230);
      float: left;
      height: ((100px + 20) * 7) - 20;
      // margin: 0 20px;
    }
  }
}

/* Detail */
.schedule {
  h1, h2 {
    border-bottom: 1px solid rgb(200, 200, 200);
    font-weight: 300;
    padding: 0 0 10px 0;
    text-align: center;
  }
  h1 {
    font-size: 27px;
    line-height: 36px;
    margin: 0 0 10px 0;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 10px 0;
  }
  ol {
    font-size: 14px;
    margin: 0;
    padding: 0 0 0 30px;
  }
  .locations {
    float: left;
  }
  .jobs {
    float: right;
    .weeklyJobs {
      float: left;
      .job {
        float: none;
      }
    }
    .dailyJobs {
      float: right;
    }
  }
  .location, .job {
    float: left;
    padding: 10px;
  }
}