BeautifulSoup==3.2.1
Django==1.4.1
PIL==1.1.7
Whoosh==2.4.1
beautifulsoup4==4.1.3
boto==2.6.0
django-appconf==0.5
django-compressor==1.2
-e git+https://github.com/toastdriven/django-haystack.git@ac6bbfbcd30f16768b4bfda1f0b1abf7a0aa34ff#egg=django_haystack-dev
django-registration==0.8
django-storages==1.1.5
django-tagging==0.3.1
facepy==0.8.4
httplib2==0.7.7
psycopg2==2.4.5
pysolr==3.0.0
python-memcached==1.48
pytz==2012h
reportlab==2.6
requests==1.1.0
south==0.7.6
