{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  {% for field in form %}
    <div class="field">
      <p>{{ field.label }}</p>
      {{ field.errors }}
      {{ field }}
    </div>
  {% endfor %}
  <div class="action">
    <input type="submit" value="Submit">
    {% if user.pk %}
      <a href="{% url root_path %}">
        Cancel
      </a>
    {% endif %}
  </div>
</form>
{% endblock %}