{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class='employeeEdit'>
  <form action='' enctype='multipart/form-data' method='POST'>
    {% csrf_token %}
    <div class='leftForm'>
      {% for field in form %}
        <div class='field'>
          <p>{{ field.label }}</p>
          {{ field.errors }}
          {{ field }}
        </div>
      {% endfor %}
    </div>
    <div class='rightForm'>
      <div class='field'>
        <p>Image</p>
        {% if employee.photo %}
          <div class='employeeImage'>
            <img src='{{ employee.photo }}'>
          </div>
        {% endif %}
        <input name='image' type='file'>
      </div>
    </div>
    <div class='clear'></div>
    <div class='action'>
      <input type='submit' value='Submit'>
      {% if employee.pk %}
        <a href='{% url employees.views.detail employee.slug %}'>
          Cancel
        </a>
      {% else %}
        <a href='{% url employees.views.list %}'>
          Cancel
        </a>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}