<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>
        {% block title %}Millennium Schedule{% endblock %}
    </title>
    {% load static %}
    {% get_static_prefix as static %}
    <link rel="icon" type="image/ico" href="{{ static }}img/favicon.ico">
    {% include 'stylesheet.html' %}
    {% include 'javascript.html' %}
    {% block head %}{% endblock %}
    <script type="text/javascript">
      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38601123-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            {% include 'header.html' %}
        </header>
        {% block subheader %}{% endblock %}
        {% include 'messages.html' %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'footer.html' %}
    <div class="confirmDelete" title="Are you sure?"></div>
    <div class="loading">
        <h1>Loading</h1>
        <div></div>
    </div>
</body>
</html>