{% load compress %}
{% compress js %}
<script src="{{ static }}js/jquery-1.9.1.min.js"></script>
<script src="{{ static }}js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="{{ static }}js/spin.js"></script>
<script src="{{ static }}js/jquery.autoresize.js"></script>
<script src="{{ static }}js/autoresize.js"></script>
<script src="{{ static }}js/header.js"></script>
<script src="{{ static }}js/loading.js"></script>
<script src="{{ static }}js/messages.js"></script>
<script src="{{ static }}js/stations.js"></script>
<script src="{{ static }}js/undos.js"></script>
{% endcompress %}