{% load compress %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ static }}css/employees.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/forms.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/header.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/jquery-ui-1.9.2.custom.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/loading.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/main.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/messages.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/notes.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/pagination.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/schedules.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/sessions.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/stations.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/undos.css">
{% endcompress %}