{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<script>
$(document).ready(function() {
  $.ajax({
    type: 'GET',
    url: '{{ locations_url }}',
    success: function(response) {
      $('.locations').append(response.locations);
    }
  });
  $.ajax({
    type: 'GET',
    url: '{{ jobs_url }}',
    success: function(response) {
      $('.jobs').append(response.jobs);
    }
  });
});
</script>
{% endblock %}
{% block subheader %}
<header class="subHeader">
  <nav class="scheduleNav">
    <ul>
      <li>
        <a href="{% url schedules.views.placement schedule.pk %}">
            Switch Locations
        </a>
      </li>
      <li>
        <a href="{% url schedules.views.task schedule.pk %}">
            Set Jobs
        </a>
      </li>
      <li>
        <a href="{% url schedules.views.assignment schedule.pk %}">
            Assign Seating
        </a>
      </li>
    </ul>
  </nav>
</header>
{% endblock %}
{% block content %}
<div class="schedule">
  <div class="locations">
    <h1>Locations</h1>
  </div>
  <div class="jobs">
    <h1>Jobs</h1>
  </div>
  <div class="clear"></div>
</div>
{% endblock %}