{% extends 'base.html' %}
{% block content %}
<div class='lab'>
  <div class='mainLab'>
    <div class='stations leftStations'>
      {% for station in left_stations %}
        {% include 'stations/station.html' %}
      {% endfor %}
    </div>
    <div class='divider'></div>
    <div class='stations rightStations'>
      {% for station in right_stations %}
        {% include 'stations/station.html' %}
      {% endfor %}
    </div>
  </div>
  <div class='clear'></div>
</div>
{% endblock %}