/* header */
.header {
  background: #258dc8;
  height: 45px;
  width: 100%; }

.header .logo {
  float: left;
  margin: 0 0 0 10px; }

.logo a {
  display: block;
  padding: 2px 20px 2px 20px; }

.logo img {
  height: 41px;
  width: 254px; }

header nav {
  float: right; }

header nav ul {
  list-style-type: none;
  margin: 0 10px 0 0;
  padding: 0; }

header nav li {
  display: inline-block;
  float: left; }

.header nav a {
  display: block;
  font-size: 15px;
  line-height: 15px;
  padding: 15px 10px; }

.header nav a, .header nav a:hover {
  color: white; }

.header nav a:hover {
  background: #207cca;
  text-decoration: none; }

/* sub header */
.subHeader {
  background: gainsboro;
  height: 35px; }

.subHeader nav a {
  display: block;
  float: left;
  font-size: 13px;
  line-height: 13px;
  padding: 11px 10px; }

/* Menu */
header nav .menuShow {
  background: #505050;
  border: none;
  color: #a0a0a0; }

#menu {
  display: none;
  position: relative; }

#menu ul {
  background: #505050;
  position: absolute;
  right: 0;
  top: 45px;
  width: 160px;
  z-index: 500; }

#menu li {
  display: block;
  float: none; }

#menu a {
  color: #a0a0a0; }

#menu a:hover, header nav .menuShow:hover {
  background: #646464;
  color: white; }
