.messages {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .messages:hover {
    cursor: pointer; }
  .messages li div {
    padding: 10px; }
    .messages li div.success {
      background: #e0ffb8;
      border: 1px solid #94da3a;
      color: #325f36; }
    .messages li div.error {
      background: #ffe0b8;
      border: 1px solid #ff1a00;
      color: #cf190e; }
    .messages li div.warning {
      background: #ffff88;
      border: 1px solid #eab92d;
      color: #9f7000; }
