.note {
    border-top: 1px dotted rgb(200, 200, 200);
    padding: 10px 20px;
}

.noteContent p {
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 14px 0;
}

.note p:last-child {
    margin: 0;
}

.noteBottom {
    color: rgb(120, 120, 120);
    font-size: 12px;
    line-height: 18px;
    margin: 5px 0 0 0;
}

.noteExtra {
    float: right;
}