/* root */
.lab {
    min-width: 1500px;
}

.lab div, .seat a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mainLab {
    float: left;
}

.reject .station {
    margin: 0 auto 20px auto;
}

.wetCopies {
    float: left;
    right: 100px;
    position: relative;
    top: 115px;
    -webkit-transform: rotate(90deg);
    -khtml-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.leftStations {
    float: left;
}

.rightStations {
    float: left;
}

.divider {
    background: rgb(230, 230, 230);
    float: left;
    height: 700px;
    margin: 0 20px;
}

.divider, .station {
    border: 1px solid rgb(200, 200, 200);
}

.divider, .station, .station h1 {
    width: 350px;
}

/* detail */
.schedule h1 {
    font-size: 24px;
    margin: 0 0 5px 0;
}

.schedule h1, .schedule h2 {
    font-weight: 300;
    text-align: center;
}

.schedule h2 {
    font-size: 14px;
    margin: 0 0 10px 0;
}

.schedule ol {
    font-size: 14px;
    margin: 0;
    padding: 0 0 0 30px;
}

.locations {
    float: left;
}

.location, .job {
    float: left;
    padding: 10px;
}

.jobs {
    float: right;
}